body {
    background-color: #8b181b;
}

.corpo_costumizar {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    overflow: visible;
    height: 100vh;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #3ac3d8;
    letter-spacing: 2px;
    overflow: visible;
}

.escolher_elementos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    overflow: visible;  
    position: relative;
}

.escolher_cabelo {
    align-items: flex-start;
    position: absolute;
    top: -3.8vh;
    overflow: visible;
}

#hair {
    height: 49.5vh;
    width: auto;
}

.escolher_olhos {
    align-items: flex-start;
    position: absolute;
    top: 14.8vh;
    overflow: visible;
}

#eyes {
    height: 5.3vh;
    width: auto;
}

.escolher_boca {
    align-items: flex-start;
    position: absolute;
    top: 26vh;
    overflow: visible;
}

#mouth {
    height: 5vh;
    width: auto;
}

#right_mouth, #left_mouth, #right_eyes, #left_eyes, #left_hair, #right_hair {
    width: 80px;
    height: auto;
}

#botao_costumize {
    width: 25vh;
    height: 10vh;
    border-radius: 4em;
    font-size: 2em;
    background-color: #3ac3d8;
    color: #8b181b;
    border: none;
    font-family: Laughter;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}


#botao_costumize:hover {
    color: #3ac3d8;
    background-color: #8b181b;
    border: 5px solid #3ac3d8;
    cursor: pointer;
}

.chose {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.arrow {
    cursor: pointer;
}

#escolher_cara {
    height: 45vh;
    width: auto;
}