.augustusdiv {
    width: 100%;
}

.scene .augustusimg {
    position: absolute;
    top: 20%;
    height: 40%;
    width: auto;
    right: 26%;
    z-index: -1;
}

#abobora {
    position: absolute;
    bottom: 33%;
    height: 25%;
    width: auto;
    left: 15.5%;
    z-index: -1;
}

#maca {
    position: absolute;
    top: 25%;
    height: 8%;
    width: auto;
    right: 6%;
    z-index: -1;
}

#chocolate {
    position: absolute;
    bottom: 35.5%;
    height: 8%;
    width: auto;
    right: 18%;
    z-index: -1;
}

#tintedImage {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

main {
    display: none;
}

.btn {
    background-color: #603814;
}

.btn:hover {
    color: #603814;
    border: 5px solid #603814;
}