.bg {
    position: absolute;
    bottom: -15vh;
}

.row1 {
    position: absolute;
    top: 25vh;
}

.row2 {
    position: absolute;
    bottom: 7vh;
}

.popupdiv {
    z-index: 100;
}

.btn {
    background-color: #dff5ff;
    color: black;
}

.btn:hover {
    background-color: white;
    border: 5px solid black;
    color: black;
}

.nomesala {
    color: black;
}