.bg {
    position: absolute;
    bottom: -15vh;
}

.row1 {
    margin-top: -7vh;
}

.row2 {
    margin-bottom: 7vh;
}

.btn {
    background-color: #dff5ff;
    color: black;
}

.btn:hover {
    background-color: white;
    border: 5px solid black;
    color: black;
}

.nomesala {
    color: black;
}