#elevator {
    height: 20vh;
    width: auto;
    position: absolute;
    left: 50%;
    display: none;
}

.popupdiv {
    margin-top: 4%;
}

.btn {
    background-color: #78256d;
}

.btn:hover {
    color: #78256d;
    border: 5px solid #78256d;
}