#portao {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 15%;
    left: 32.5%;
    filter: drop-shadow(0 0 30px white);
}

#portao:hover {
    filter: drop-shadow(0 0 50px white);
}

.augustusimg {
    position: absolute;
    bottom: 1%;
    height: 40%;
    width: auto;
    left: 10%;
}

.violetimg {
    position: absolute;
    bottom: 4%;
    height: 40%;
    width: auto;
    left: 26%;
}

.verucaimg {
    position: absolute;
    bottom: 4%;
    height: 40%;
    width: auto;
    right: 30%;
}

.mikeimg {
    position: absolute;
    bottom: 1%;
    height: 40%;
    width: auto;
    right: 10%;
}

.btn {
    background-color: #3e424b;
}

.btn:hover {
    color: #3e424b;
    border: 3px solid #3e424b;
}