@font-face {
    font-family: Laughter;
    src: url(./fonts/LAUGHTER.otf);
}

html {
    font-family: Laughter;
}

.hidden {
    display: none;
}

.x,
.btn {
    cursor: pointer;
}

* {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

.bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(1px);
}

.popupdiv {
    position: relative;
    width: 40%;
    height: 40%;
    left: 50%;
    transform: translate(-50%);
}

.popup {
    width: 100%;
    height: auto;
}

.btn {
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 25%;
    height: 10%;
    border-radius: 0.5em;
    font-size: 1.5em;
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    font-family: Laughter;
}

.btn:hover {
    cursor: pointer;
    color: #ed1c24;
    background-color: #ffffff;
    border: 5px solid #ed1c24;
}

.x {
    width: 4%;
    height: auto;
    position: absolute;
    left: 66%;
    bottom: 82%;
    transform: translate(-50%, 50%);
}

.blur {
    filter: blur(8px);
}

.obj {
    filter: drop-shadow(0 0 10px white);
}

.obj:hover {
    filter: drop-shadow(0 0 30px white);
}