.violetdiv {
    width: 100%;
}

.violetdiv .violetimg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    cursor: pointer;
}

.scene .violetimg {
    position: absolute;
    top: 36%;
    height: 40%;
    width: auto;
    left: 25%;
    z-index: -1;
}

main {
    display: none;
}

.btn {
    background-color: #b560a4;
}

.btn:hover {
    color: #b560a4;
    border: 5px solid #b560a4;
}

#hairtoffee {
    position: absolute;
    bottom: 24%;
    height: 8%;
    width: auto;
    left: 18%;
    z-index: -1;
}

#gobstoppers {
    position: absolute;
    top: 32.5%;
    height: 6%;
    width: auto;
    right: 13%;
    z-index: -1;
}

#gum {
    position: absolute;
    bottom: 55%;
    height: 4%;
    width: auto;
    right: 47%;
    z-index: -1;
}

#potion {
    position: absolute;
    bottom: 14%;
    height: 12%;
    width: auto;
    right: 18%;
    z-index: -1;
}

.violetgame {
    width: 50%;
    height: 50%;
    left: 70%;
    transform: translate(-50%);
}