#navbar {
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: medium;
    border-color: black;
    position: relative;
}

.personagem {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1%;
    overflow: visible;
    cursor: pointer;
    z-index: 10;
}

#face {
    height: 80%;
    width: auto;
}

#hair {
    height: 90%;
    width: auto;
    position: absolute;
    top: 3%;
}

#eyes {
    height: 8.5%;
    width: auto;
    position: absolute;
    top: 37%;
}

#mouth {
    height: 9.5%;
    width: auto;
    position: absolute;
    top: 57%;
}

.nomesala {
    color: white;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    translate: -50%;
}

.willywonka {
    height: 110%;
    width: auto;
    position: absolute;
    right: 0;
}