.verucadiv {
    width: 100%;
}

.verucadiv .verucaimg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.scene .verucaimg {
    position: absolute;
    top: 32%;
    height: 40%;
    width: auto;
    left: 18%;
    z-index: -1;
}

main {
    display: none;
}

.squirrel {
    position: absolute;
    z-index: -1;
    width: 63.1125px;
    height: 66.0875px;
}

.btn {
    background-color: #6095bd;
}

.btn:hover {
    color: #6095bd;
    border: 5px solid #6095bd;
}

#trash {
    position: absolute;
    bottom: 42.5%;
    height: 28%;
    width: auto;
    left: 44%;
    z-index: -1;
}

#nozes {
    position: absolute;
    top: 60%;
    height: 10%;
    width: auto;
    right: 20%;
    z-index: -1;
}

#squirrelobj {
    position: absolute;
    top: 60%;
    height: 10%;
    width: auto;
    right: 26%;
    z-index: -1;
}

.verucagame {
    width: 50%;
    height: 50%;
    left: 70%;
    transform: translate(-50%);
}