#papel {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.diactive {
    visibility: hidden;
}

.popupdiv {
    position: relative;
    width: 40%;
    height: 40%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 3%;
}

.btn {
    position: absolute;
    bottom: 10%;
    right: 50%;
    width: 25%;
    height: 10%;
    border-radius: 0.5em;
    font-size: 1.5em;
    background-color: #f15f22;
    color: #ffffff;
    border: none;
    font-family: Laughter;
}

.btn:hover {
    cursor: pointer;
    color: #f15f22;
    background-color: #ffffff;
    border: 5px solid #f15f22;
}