#papel {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.diactive {
    visibility: hidden;
}