.mikediv {
    width: 100%;
}

.mikediv .mikeimg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    cursor: pointer;
}

.scene .mikeimg {
    position: absolute;
    top: 45%;
    height: 40%;
    width: auto;
    right: 40%;
    z-index: -1;
    user-select: none;
}

main {
    display: none;
}

.btn {
    background-color: black;
    border: 5px solid #fdfef9;
    color: #fdfef9;
}

.btn:hover {
    background-color: #fdfef9;
    border: 5px solid black;
    color: black;
}

.nomesala {
    color: black;
}

#remote {
    position: absolute;
    bottom: 30%;
    height: 10%;
    width: auto;
    left: 35%;
    z-index: -1;
}

#tv {
    position: absolute;
    top: 53%;
    height: 50%;
    width: auto;
    right: 3%;
    z-index: -1;
}

#oculos {
    position: absolute;
    bottom: 10%;
    height: 20%;
    width: auto;
    left: 10%;
    z-index: -1;
}

.mikegame {
    width: 50%;
    height: 50%;
    left: 70%;
    transform: translate(-50%);
}