.mikediv {
    width: 100%;
}

.mikediv .mikeimg {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    cursor: pointer;
}

.scene .mikeimg {
    position: absolute;
    top: 32%;
    height: 40%;
    width: auto;
    left: 18%;
    z-index: -1;
    user-select: none;
}

main {
    display: none;
}

.btn {
    background-color: black;
    border: 5px solid #fdfef9;
    color: #fdfef9;
}

.btn:hover {
    background-color: #fdfef9;
    border: 5px solid black;
    color: black;
}

.nomesala {
    color: black;
}